@{
    ViewData["Title"] = "Про нас";

}
<div class="content-color"><h1>@ViewData["Title"]</h1></div>
<div class="about-us-bg">
        <div class="container about-us">
            <span>Цей сайт створено учнями гімназії №2 м.Хмельницького зі статусом "Асоційована школа ЮНЕСКО", учасниками гуртка «Історичне краєзнавство», що при Хмельницькому міському центрі краєзнавства, туризму та екскурсій учнівської молоді,  в рамках  освітньої  програми «Історія моєї громади. Минуле  для спільного майбутнього»  та у межах проєкту «Конкурс з історії в Білорусії, Грузії, Молдові та Україні».</span>
            <h2>АКТУАЛЬНІСТЬ ПРОЕКТУ</h2>
            <p>На сьогодні в умовах адміністративної реформи та зростання ролі місцевого самоврядування в Україні актуалізуються питання економічного, соціального та культурного розвитку місцевих громад. Відтак зростає роль локальної історико-культурної спадщини як одного з механізмів розвитку місцевих громад, платформи для консолідації й інтеграції спільноти. Перед місцевими освітянами, музейниками, громадськими діячами актуалізується завдання по роботі з історико-культурним надбанням у місцевій громаді. Сучасні культуроохоронні технології, проведення історичних досліджень, збереження об’єктів спадщини, організація ефективної роботи місцевих музеїв, популяризація історичного минулого, «брендування» спадщини як інструмента капіталізації середовища, розробка туристичних маршрутів  тощо – усе це становить потужний потеціал не тільки для формування локальної, регіональної та національної  ідентичності  членів місцевої громади, але й для її економічного розвитку.
                <br><br>
            Найважливішим завданням є  підготовка молодого покоління до самореалізації  у майбутньому шляхом залучення до роботи з історико-культурною спадщиною рідного краю.</p>
    
    
            <h2>ЧОМУ МИ СТВОРИЛИ ЦЕЙ САЙТ?</h2>
    
    
            <p>Хмельниччина - край унікальної і самобутньої культури. Загальна кількість пам'яток археології, історії, архітектури, містобудування і монументального мистецтва у Хмельницькій області складає 2015 одиниць. На державному обліку перебуває  387  пам'яток архітектури і містобудування.
                <br><br>
            Туристичний потенціал Хмельниччини включає мальовничу природу (річка Дністер, Товтри, ліси та озера на півночі області), мінеральні води (води «Нафтуся», води Миргородського типу та радонові), історичну й архітектурну спадщину (м. Кам’янець-Подільський, селище Меджибіж, с. Самчики), санаторії для медичного лікування і відновлення здоров’я.
            <br><br>
            На Хмельниччині існує <strong>269</strong> природоохоронних зон і об’єктів: <strong>198</strong> пам’яток  природи (4 державного значення), ботанічний сад у м. Кам’янці-Подільському,  <strong>24</strong> парки,  яким присвоєно статус пам’яток природи паркового мистецтва (у тому числі 8 – державного значення), <strong>7</strong> природних заповідників, <strong>39</strong> заказників (із них 15 – державні) та одна пам’ятка <strong>ЮНЕСКО</strong>
            <br><br>
            Визначними туристичними місцями області є: Національний природній парк «Подільські Товтри», Національний історико-культурний заповідник «Кам’янець», державні історико-культурні заповідники «Товтри» і «Самчики». Також існують цікаві історичні об’єкти (у населених пунктах Сутківці, Антоніни, Губин, Ізяслав, Гриців, Зіньків, Старокостянтинів, Пилява, Жванчик, Сатанів, Іванківці тощо), ряд санаторно-курортних закладів і центрів відновлення здоров’я на базі мінеральних вод.
            <br><br>
            Вже два десятиліття наше місто Хмельницький для гостей асоціюється у переважній більшості лише як місто із потужним речовим ринком. Проте, сьогодні у місті існує багато привабливих для туристів об’єктів від  культурно-історичних до розважальних. Зокрема, це  унікальний фотомузей,  неповторні ігрові комплекси з металевих монументально-просторових скульптур Миколи Мазура для дозвілля з дітьми; унікальні пам’ятники, мурали, креативні локації для молоді, квест-кімнати, Аквапарк та багато іншого.
            <br><br>
            Проте, на сьогодні не існує єдиного інтернет-ресурсу, на якому містився б короткий опис цих важливих туристичних об’єктів міста Хмельницького та  Хмельницької області, також практично не можливо знайти ці об’єкти  на інтерактивній туристичній мапі.</p>
    
    
            <h2>МЕТА НАШОГО ПРОЄКТУ</h2>
    
                
            <p>Використовуючи можливості Google Maps створити інтерактивні мапи Хмельницького та Хмельницької області, з нанесенням на них пам’яток історико-культурної спадщини;<br>
                Здійснити  короткі та докладніші описи до об’єктів, нанесених на мапи;<br>
                Розробити цікаві туристичні маршрути по місту Хмельницькому та Хмельницькій області;<br>
                Зробити історію громади цікавою та інтерактивною;<br>
                Сприяти підвищенню інтересу молоді до історії свого міста та області;<br>
                Популяризувати туристичну привабливість Хмельниччини;  <br>
                Згуртувати соціально - активну молодь  та розвинути волонтерський туристичний рух на Хмельниччині, побудований на засадах збору та розташування на інтерактивній мапі Хмельниччини  цікавих туристичних об'єктів;<br>
                Створити ресурс, який сприятиме активній комунікації між міськими та сільськими громадами.</p>
            
    
            <h2>ЗАВДАННЯ ПРОЄКТУ</h2>
    
    
            <p>Створення ініціативної групи проєкту. <br>
                Розробка основних завдань, планування роботи та розподіл обов’язків між усіма дослідниками групи.<br>
                Збір інформації, проведення історичних досліджень (фото, відеоряду, інформаційних сторінок, презентаційних виступів).<br>
                Координування діяльності учасників проєкту, аналіз досліджень.<br>
                Розташування інформації на сайті.<br>
                Створення цікавих туристичних маршрутів містом та областю.<br>
                Створення  сайту „Інтерактивна культурно-туристична мапа Хмельниччини”.<br>
                Проведення дослідницьких експедицій містом та областю.<br>
                Наповнення інтерактивної мапи Хмельницького короткими  (на українській, англійській, німецькій мовах)  та докладнішими(на українській) описами культурно-туристичних пам'яток міста та області.
                Презентація готового продукту проєкту  в  засобах  ЗМІ,  групах «Вайбер», соціальних мережах та вінформаційному просторі.<br>
                Підготовка  екскурсоводів по розроблених маршрутах.<br>
                Перевірка валідності роботи сайту.</p>
    
    
            <h2>ПРО НАШУ КОМАНДУ</h2>
    
    
            <p>КЕРІВНИК ПРОЄКТУ (ТЬЮТОР): <br>
                Степанова Оксана Володимирівна -  вчитель  історії, спеціаліст вищої категорії, старший вчитель гімназії №2 м. Хмельницького зі статусом „Асоційована школа ЮНЕСКО”. Керівник команд та учасник міжнародних, всеукраїнських та загальноміських проектів, учасник освітньої  програми «Історія моєї громади. Минуле для спільного майбутнього»  у межах проекту «Конкурс з історії в Білорусії, Грузії, Молдові та Україні» у 2017-2018 рр.
                <br><br>
                 УЧАСНИКИ НАШОЇ КОМАНДИ:
                АВСІЄВИЧ ВОЛОДИМИР -  розробник сайту, гордість гімназії №2, переможець  ІV етапу Всеукраїнської учнівської олімпіади з інформаційних технологій, переможець предметних олімпіад з фізики та математики;<br>
                ПОТУРНЯК АНАСТАСІЯ та СМОЛЯР ВІКТОРІЯ  - фотографи та автори маршрутів, переможці щорічних фотоконкурсів «Хмельницький крізь об’єктив»;<br>
                ЛІСОВА ВІКТОРІЯ та  БУНЯК ВАЛЕРІЯ - перекладачі основної інформації на англійську та німецьку мови, автори маршрутів, переможці предметних олімпіад з іноземних мов;<br>
                СИС ЮЛІЯ, ГОНЧАР ІВАН, КОВАЛЬ ДМИТРО, СТЕЦЮК ІННА, ФЕРТЮК МАКСИМ – дослідники  історичної та культурної спадщини міста Хмельницького та області, автори туристичних маршрутів, переможці предметних олімпіад, активні учасники учнівського самоврядування, кур’єри ЮНЕСКО.</p>
    
    
    
            <h2>НАШІ ПАРТНЕРИ ТА КОНСУЛЬТАНТИ</h2>
    
    
            <p>Надання джерел для опису об’єктів культурно-туристичної спадщини. Сприяння у взаємодії з громадою щодо популяризації об’єктів. <br>
                Хмельницька обласна наукової універсальної бібліотеки. <br>
                Директор Чабан Катерина Анатоліївна.<br>
                Борейко Валентина Миколаївна – завідувач відділу краєзнавства Хмельницької обласної наукової універсальної бібліотеки.<br>
                Ярмолюк Анжела Григорівна – старший бібліограф Хмельницької обласної наукової універсальної бібліотеки.<br><br>
                
                Хмельницька міська центральна бібліотека.<br>
                Директор Козицька Тамара Степанівна<br>
                
                Хмельницька обласна бібліотека для юнацтва. <br>
                Директор Таньчук Тамара Миколаївна.<br>
                Романюк Леся Василівна – провідний фахівець Хмельницької обласної  юнацької бібліотеки.<br><br>
                
                Сприяння у взаємодії з громадою щодо популяризації об’єктів. Сприяння у створенні  волонтерського загону учнів - екскурсоводів при музеї історії міста Хмельницького.<br>
                Управління культкри та туризму Хмельницької міської ради.
                Заступник начальника управління Шевченко Світлана Іванівна.<br><br>
                
                Сприяння у взаємодії з громадою щодо популяризації об’єктів.<br>
                Телерадіо компанія «Місто»<br>
                Телерадіо компанія «Ексклюзив»<br>
                Вікторіч Земба – кореспондент.<br>
                Телерадіо компанія «Поділля центр»<br><br>
                
                Сприяння у пошуку джерел для опису об’єктів культурно-туристичної спадщини  в Хмельницькій області.<br>
                Хмельницький обласний краєзнавчий музей.<br>
                Мельничук Оксана Анатоліївна – завідувач науково-масового відділу Хмельницького обласного краєзнавчого музею.<br>
                Музей історії міста Хмельницького.<br>
                Барабаш Галина Іванівна – директор.</p>
        </div>
    </div>