@{
    ViewData["Title"] = "Головна";
}
<div class="container-index">
    <div class="content"></div>
    <div class="container text">
        <div class="text-box">
            <h2>Інтерактивна</h2>
            <h1>
                Культурно-туристична <br>
                мапа Хмельницького
            </h1>
            <a class="btn" href="#">Детальніше</a>
        </div>
    </div>
    <div class="box-info">
        <div class="box-info-block">
            <h3>2015</h3>
            <p>пам’яток</p>
        </div>
        <div class="box-info-block">
            <h3>269</h3>
            <p>природоохоронних зон</p>
        </div>
    </div>
</div>
